stages:
    - validate
    - build

default:
    tags:
        - dev-runner
    image:
        name: docker:24.0.5-cli
        pull_policy: if-not-present
    services:
        - name: docker:24.0.5-dind
          pull_policy: if-not-present

variables:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    DOCKER_TLS_CERTDIR: "/certs"

.registry_login: &registry_login
    before_script:
        - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin

validate:dev:
    stage: validate
    <<: *registry_login
    variables:
        APP_VERSION: $CI_COMMIT_SHORT_SHA
        API_URL: "https://dev-api.univ.leitwert.net/api"
        IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    script:
        - |
            docker build \
              --build-arg BUILDKIT_INLINE_CACHE=1 \
              --build-arg APP_VERSION=${APP_VERSION} \
              --build-arg NEXT_PUBLIC_FRONTEND_API_URL="${API_URL}" \
              --cache-from $CI_REGISTRY_IMAGE:branch-$CI_COMMIT_REF_SLUG \
              --cache-from $CI_REGISTRY_IMAGE:dev-cache \
              --cache-from $CI_REGISTRY_IMAGE:latest \
              --tag $CI_REGISTRY_IMAGE:branch-$CI_COMMIT_REF_SLUG \
              --progress=plain \
              .
        - docker push $CI_REGISTRY_IMAGE:branch-$CI_COMMIT_REF_SLUG
    rules:
        - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH != "main" && $CI_COMMIT_BRANCH != "dev"
    environment:
        name: development
        url: https://dev.univ.leitwert.net

build:dev:
    stage: build
    <<: *registry_login
    variables:
        APP_VERSION: $CI_COMMIT_SHORT_SHA
        API_URL: "https://dev-api.univ.leitwert.net/api"
        IMAGE_TAG: $CI_COMMIT_SHORT_SHA
    script:
        - |
            docker build \
              --build-arg BUILDKIT_INLINE_CACHE=1 \
              --build-arg APP_VERSION=${APP_VERSION} \
              --build-arg NEXT_PUBLIC_FRONTEND_API_URL="${API_URL}" \
              --cache-from $CI_REGISTRY_IMAGE:dev-cache \
              --cache-from $CI_REGISTRY_IMAGE:latest \
              --tag $CI_REGISTRY_IMAGE:${IMAGE_TAG} \
              --tag $CI_REGISTRY_IMAGE:latest \
              --tag $CI_REGISTRY_IMAGE:dev-cache \
              --progress=plain \
              .
        - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
        - docker push $CI_REGISTRY_IMAGE:latest
        - docker push $CI_REGISTRY_IMAGE:dev-cache
    rules:
        - if: $CI_COMMIT_BRANCH == "dev"
    environment:
        name: development
        url: https://dev.univ.leitwert.net

build:prod:
    stage: build
    <<: *registry_login
    variables:
        APP_VERSION: $CI_COMMIT_TAG
        API_URL: "https://api.univ.leitwert.net/api"
        IMAGE_TAG: $CI_COMMIT_TAG
    script:
        - |
            docker build \
              --build-arg BUILDKIT_INLINE_CACHE=1 \
              --build-arg APP_VERSION=${APP_VERSION} \
              --build-arg NEXT_PUBLIC_FRONTEND_API_URL="${API_URL}" \
              --cache-from $CI_REGISTRY_IMAGE:latest \
              --cache-from $CI_REGISTRY_IMAGE:dev-cache \
              --tag $CI_REGISTRY_IMAGE:${IMAGE_TAG} \
              --progress=plain \
              .
        - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
    rules:
        - if: $CI_COMMIT_TAG
    environment:
        name: production
        url: https://dashboard.univ.leitwert.net
