stages:
  - build

build:
  stage: build
  tags:
    - dev-runner
  image: docker:24.0.5-cli
  services:
    - docker:24.0.5-dind
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - |
      docker build \
        --tag $DOCKER_IMAGE:$CI_COMMIT_REF_SLUG \
        --tag $DOCKER_IMAGE:latest \
        .
    - docker push --all-tags $DOCKER_IMAGE