stages:
  - build

default:
  tags:
    - dev-runner
  image:
    name: docker:24.0.5-cli
    pull_policy: if-not-present

  services:
    - name: docker:24.0.5-dind
      pull_policy: if-not-present

.registry_login: &registry_login
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin

build:dev:
  stage: build
  <<: *registry_login
  script:
    - |
      docker build \
        --build-arg BUILDKIT_INLINE_CACHE=1 \
        --cache-from $CI_REGISTRY_IMAGE:latest \
        --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA \
        --tag $CI_REGISTRY_IMAGE:latest \
        .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA
    - docker push $CI_REGISTRY_IMAGE:latest
  rules:
    - if: $CI_COMMIT_BRANCH == "dev"
  environment:
    name: development
    url: https://dev.univ.leitwert.net

build:prod:
  stage: build
  <<: *registry_login
  script:
    - |
      docker build \
        --build-arg BUILDKIT_INLINE_CACHE=1 \
        --cache-from $CI_REGISTRY_IMAGE:latest \
        --tag $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG \
        .
    - docker push $CI_REGISTRY_IMAGE:$CI_COMMIT_TAG
  rules:
    - if: $CI_COMMIT_TAG
  environment:
    name: production
    url: https://dashboard.univ.leitwert.net
