stages:
  - build

variables:
  CONTAINER_IMAGE: $CI_REGISTRY_IMAGE/dashboard

build:
  stage: build
  tags:
    - dev-runner
  image: docker:24.0.5-cli
  services:
    - docker:24.0.5-dind
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - |
      docker build \
        --tag $CONTAINER_IMAGE:$CI_COMMIT_SHA \
        --tag $CONTAINER_IMAGE:latest \
        .
    - docker push --all-tags $CONTAINER_IMAGE
#  rules:
#    - if: $CI_COMMIT_BRANCH == "dev"
#    - if: $CI_COMMIT_BRANCH == "main"