apiVersion: v1
kind: Service
metadata:
  name: dashboard
  namespace: frontend-dev
  labels:
    app: dashboard
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: dashboard