apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  labels:
        app.kubernetes.io/name: dashboard
        app.kubernetes.io/component: frontend
        app.kubernetes.io/managed-by: argocd

resources:
  - deployment.yaml
  - service.yaml
  - configmap.yaml